extends ../layout/index
block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/us.jpg", alt="Image about us")
            .col-md-7
                h1 #{page}
                blockquote ‘Organization Name’
                p “Travel is the main thing you purchase that makes you more extravagant”. We, at ‘Organization Name’, swear by this and put stock in satisfying travel dreams that make you perpetually rich constantly.
                p We have been moving excellent encounters for a considerable length of time through our cutting edge planned occasion bundles and other fundamental travel administrations. We rouse our clients to carry on with a rich life, brimming with extraordinary travel encounters.
                p Through our exceptionally curated occasion bundles, we need to take you on an adventure where you personally enjoy with the stunning magnificence of America and far off terrains. We need you to observe sensational scenes that are a long ways past your creative ability.
    .icons-list
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icon_security.svg", class="img-fluid mb-4")
                    h2.mb-4 Security
                    p Buy without problems
                .col-md-4
                    img(src="img/icon_destiny.svg", class="img-fluid mb-4")
                    h2.mb-4 Destinations
                    p For every taste
                .col-md-4
                    img(src="img/icon_prices.svg", class="img-fluid mb-4")
                    h2.mb-4 Best Price
                    p You won't find better
    